{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-typescript", "prettier"],
  "plugins": ["unused-imports"],
  "rules": {
    "comma-dangle": "error",
    "max-len": "warn",
    "object-curly-newline": "error",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
